<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Major Project</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}">
    <link rel="icon" href="{{ url_for('static',filename='college.png') }}">
</head>

<body>
    <!-- HEADER -->
    <header class="header">
        <div class="header_image">
            <img class="header_img img-thumbnail rounded float-start"
                src="{{ url_for('static',filename='college.png') }}" />
        </div>
        <div class="header_text" onclick="window.location.href = '/';">
            COVID&nbsp;CXR&nbsp;Detector
        </div>
    </header>


    <!-- MAIN BODY -->
    <div class="uploader">
        <form method="POST" enctype="multipart/form-data" class="area">
            <input type="file" name="file" id="fileInput" class="drop"  onchange="loadFile(event)" />
            <div id="input_img_box">
               <img id="input_img"/>
            </div>
            <input type="submit" value="Upload" class="upload_btn btn btn-secondary btn-lg btn-block" />
        </form>
    </div>


    <!-- FOOTER -->
    <footer id="sticky-footer" class="footer nb-footer py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>This flask web app is part of Major Project.<sup>&copy;</sup></small>
        </div>
    </footer>


    <script type="text/javascript" src="{{ url_for('static',filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script.js') }}"></script>
</body>

</html>